<% include partials/header%>
<h1>create a post</h1>

<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <div class="input-group input-group-lg">
              <form method="POST" action="/">
  
            <input class="form-control" aria-describedby="sizing-addon1" type="text" name="post[subject]" placeholder="subject">
            <input class="form-control" aria-describedby="sizing-addon1" type="text" name="post[image]" placeholder="image">
            <textarea class="form-control" aria-describedby="sizing-addon1" type="text" name="post[body]" placeholder="body"></textarea>
            <button class="btn btn-success">Submit</button>

            </div>
        </div>
    </div>
</div>
           </form> 
<%include partials/footer%>


